@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import 'tw-animate-css';

/* ------------------------------------------------------------------------- */
/* pointer cursor for buttons */
/* ------------------------------------------------------------------------- */
@layer base {
	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}
}
/* ------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------- */
/* THEME */
/* ------------------------------------------------------------------------- */
@theme {
	--color-primary-light: var(--color-red-400);
	--color-primary: var(--color-red-500);
	--color-primary-dark: var(--color-red-600);
}
/* ------------------------------------------------------------------------- */
