node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# pwag
static/pwa
src/app.html

# En
*.local

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

src/lib/deployments.ts

# assets
static/assets
.assetpack
src/lib/manifest.json
